* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #141414;
    color: #fff;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(0, 73, 169);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.chat {
    border-radius: 5px;
    background: #222222;
    padding: 10px;
}

.textField {
    background: #222222;
    border-radius: 5px;
}

.bar {
    background: #222222;
}

.chat::-webkit-scrollbar {
    width: 8px;
}
.chat::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
}
.chat::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 20px;
}

.chat::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}

.msgWrapper {
    display: flex;
    padding: 5px 10px 0 15px;
    align-items: center;
    justify-content: space-between;
}

.message {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
}

.avatar {
    margin-right: 10px;
    width: 30px;
    border-radius: 50%;
}

.titleWrapper {
    display: flex;
    align-items: center;
}

.users {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.users-list {
    display: flex;
    margin: 10px;
}
