* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(0, 73, 169);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.chat {
    border-radius: 5px;
}

.chat::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}
.chat::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        /* цвет дорожки */
}
.chat::-webkit-scrollbar-thumb {
    background-color: rgb(0, 86, 206);    /* цвет плашки */
    border-radius: 20px; /* padding вокруг плашки */
}

.msgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    margin-right: 10px;
    width: 30px;
    border-radius: 50%;
}
